version: 2.1

jobs:
  setup:
    docker:
      # Use the same Docker base as the project
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint

      # Linting step
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

# Build Docker image 

  build_dockerfile:
    docker:
      - image: docker:latest

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true

      # Build and Save Docker image
      - run:
          name: Build Docker image
          command: |
             sh ./run_docker.sh

      - persist_to_workspace:
          root: ~/
          paths:
            - project/monika-flask-app-latest.tar

# Push docker image to Docker Hub
  push_docker_image:
    docker:
      - image: docker:latest

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true

      - attach_workspace:
          at: ~/

      # Push Docker image
      - run:
          name: Push Docker image
          command: |
            sh ./upload_docker.sh

  create_eks_cluster:
    docker:
      - image: amazonlinux:latest

    steps:
      - checkout

      - run:
          name: Install tar and gzip
          command: |
            yum update -y
            yum install -y tar gzip

      - run:
          name: Install kubectl
          command: |
            curl -LO https://dl.k8s.io/release/v1.25.0/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            mv ./kubectl /usr/local/bin/kubectl
            kubectl version --client

      - run:
          name: Install eksctl
          command: |
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            mv /tmp/eksctl /usr/local/bin

      # Create EKS Cluster using eksctl
      - run:
          name: Create EKS Cluster
          command: |
            eksctl create cluster --name capstone --region=us-east-1
            # aws cloudformation create-stack --stack-name my-eks-stack --template-body file://eks-cluster.yaml
            # aws cloudformation wait stack-create-complete --stack-name my-eks-stack

  deploy_eks_cluster:
    docker:
      - image: amazonlinux:latest

    steps:
      - checkout

      - run:
          name: Install tar and gzip
          command: |
            yum update -y
            yum install -y tar gzip

      - run:
          name: Install kubectl
          command: |
            curl -LO https://dl.k8s.io/release/v1.25.0/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            mv ./kubectl /usr/local/bin/kubectl
            kubectl version --client

      - run:
          name: Install eksctl
          command: |
            curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
            mv /tmp/eksctl /usr/local/bin

      # update kube config
      - run:
          name: update kube config
          command: |
            aws eks update-kubeconfig --name capstone --region us-east-1

      - run:
          name: verify kube config
          command: |
            kubectl config get-contexts

      - run:
          name: deploy application
          command: |
            kubectl apply -f deployment.yaml
            kubectl apply -f service.yaml
            kubectl get svc capstone-service

workflows:
  version: 2
  build:
    jobs:
      - setup
      # - build_dockerfile:  
      #     requires:
      #       - setup
      # - push_docker_image:
      #     requires:
      #       - build_dockerfile
      # - create_eks_cluster:
      #     requires:
      #       - push_docker_image
      # - deploy_eks_cluster:
      #     requires:
      #       - create_eks_cluster
